# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/moviestream/node_modules
/moviestream/package.json
/moviestream/package-lock.json
/Backend/node_modules
/Backend/package.json
/Backend/package-lock.json
/Backend/media-streaming-828d6-52e861583d1f.json
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/moviestream/.next/
/moviestream/out/

# production
/moviestream/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
